.parentContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.modalContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.childrenContainer {
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid;
  width: 95%;
  max-width: 768px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

/* button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
  outline: 2px solid orange;
  outline-offset: 5px;
} */
